// FORMS

.widget.signupform {
	padding: 30px;
  	background-color: lighten(@color-swatch2,70%);

  	.style--light & {
        background-color: darken(@color--light, 10%);
    }

    .style--accent & {
        background-color: darken(@color--accent, 10%);
    }

    .style--dark & {
        background-color: lighten(@color--dark, 5%);
    }

    .style--background-image & {
    	background-color: transparent;
    }
}

// Buttons

.widget.feature .feature-bgimg .content button,
.contactform button, .contactform button.btn, 
.advancedcontactform button, .advancedcontactform button.btn,
.widget.button button,
.widget .btn,
.widget.profile form button,
.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button,
.signupform fieldset button,
.blog-search-submit-button,
.widget.ecomproduct .ecom-product .btn,
.widget.ecomcheckout .checkout-order-button,
.widget.ecombasket .ecombasket-list-container .ecombasket-checkout-wrap .ecombasket-checkout-link,
.widget.ecomcategorieslist ul li a,
.blog-post-more-link a,
.blog-list-footer .paginate-older,
.widget.clicktocall a,
a.contentgroup__link {
	padding: 0 15px;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	line-height: (@font-swatch7-font-size * 2.5);
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight:@font-swatch7-font-weight;
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: none;
	border: none;
	-webkit-font-smoothing: subpixel-antialiased !important;

	.style--light & {
		background-color: @color--accent;
		color: @contrast--accent;
	}

	.style--accent & {
		background-color: @color--dark;
		color: @contrast--dark;
	}

	.style--dark & {
		background-color: @color--accent;
		color: @contrast--accent;
	}

	@media @mobile-small {
		padding: 0 1.2em;
	} 

	&:hover {
		background-color: darken(@font-swatch7-background-color,5%);
	  cursor: pointer;
	}
}

// Image buttons

.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button,
.widget.clicktocall a {
	padding-left: 50px;
	background-position: 18px center;
	&:hover {
		padding-left: 50px;
		background-position: 18px center;
	}
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @contrast--accent;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	} 
}

// Text Inputs

.contactform input, .contactform textarea,
.advancedcontactform input, .advancedcontactform textarea,
.widget.profile form fieldset input,
.signupform fieldset input.email,
.blogsearch input.blog-search-input,
.widget input[type="text"],
.widget input[type="email"],
.productlist-filter .productlist-search input,
.signupform fieldset input {
	background-color: darken(@color-swatch1, 10%);
	border: none;
	height: 40px;
	padding: .6em 1em;
	text-indent: 0;

	.style--light & {
		background-color: darken(@color--light, 10%);
		color: @contrast--light;
	}

	.style--accent &,
	.style--dark & {
		background-color: @color--light;
		color: @contrast--light;
	}

	&:focus {
		background-color: darken(@color-swatch1, 5%);

		.style--light &,
    	.style--accent &,
    	.style--dark & {
			background-color: darken(@color--light, 5%);
		}
	}
}

textarea {
	min-height: 8em;
}

// Labels

.contactform label, .advancedcontactform label,
.signupform fieldset label,
.blog-search-form label,
.widget.ecomcheckout .delivery label,
.ecom-product-vartitle {
	display: inline-block;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight:@font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color: darken(@font-swatch5-color,10%);
    letter-spacing: @font-swatch5-letter-spacing;
    margin-bottom: 0.5em;
	word-break: break-word;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }

    @media @mobile-small {
		line-height: bkscale(@font-swatch4-line-height, 0.8);
		font-size:bkscale(@font-swatch4-font-size, 0.8);
	} 
}

// Selects

select {
	text-indent: 6px;
	text-overflow: '';
	cursor: pointer;
	position: relative;
	background-repeat: no-repeat;
	background-position: right center;
	margin: 0;
	border: 1px solid @color-swatch3;
	background-color: @color-swatch1;
	color: @color-swatch5;
	position: relative;
	display: inline-block;
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight: @font-swatch7-font-weight;
	height: (@font-swatch7-font-size * 2.5 );
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.style--light & {
		background-color: darken(@color--light, 10%);
		border-color: @color--accent;
	}

	.style--accent & {
		background-color: @color--light;
		border-color: @contrast--accent;
	}

	.style--dark & {
		background-color: @color--light;
		border-color: @color--accent;
	}

	@media @mobile-small {
		font-size: bkscale(@font-swatch7-font-size, 0.75);
		height: (@font-swatch7-font-size * 2);
	} 

	&:hover,
	&:focus {
		border-color: @color-swatch2;
		
		.style--light & {
    		border-color: darken(@color--accent, 10%);
    	}
    
    	.style--accent & {
    		border-color: darken(@contrast--accent, 10%);
    	}
    
    	.style--dark & {
    		border-color: darken(@color--accent, 10%);
    	}
	}
}

.form-group {
	margin-bottom: 1em;
}

@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
	.widget.ecomproductslist .productlist-filter,
	.widget.ecomcheckout .delivery,
	.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation {
		& select {
			background-image: none;
		}
	}
}

// Placeholders

input::-webkit-input-placeholder {
   color: mix(@color-swatch5, @color-swatch2, 16%);
   
    .style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

input:-moz-placeholder {
   color: mix(@color-swatch5, @color-swatch2, 16%);
   
    .style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

input::-moz-placeholder {
   color: moz(@color-swatch5, @color-swatch2, 16%);
   
    .style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

input:-ms-input-placeholder {
   color: mix(@color-swatch5, @color-swatch2, 16%);
   
    .style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

// Privacy Checkboxes

.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms {
	input[type="checkbox"] {
		opacity: 1;
		margin: 4px 8px 4px 4px;
		padding: 0;
		min-height: auto;
		min-width: auto;
		height: auto !important;
		width: auto !important;
		line-height: 1em;
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		appearance: checkbox;
	}
	
	label {
		padding-bottom: 0;
		
		&:before {
			display: none;
		}
		
		.form__link {
			font-family:@font-swatch5-font-family;
         font-size: @font-swatch5-font-size;
			font-weight:@font-swatch5-font-weight;
			letter-spacing: @font-swatch5-letter-spacing;
			word-break: break-word;

			.style--light & {
				color: @contrast--light;
			}

			.style--accent & {
				color: @contrast--accent;
			}

			.style--dark & {
				color: @contrast--dark;
			}
		}
	}
}